#intro {
	background-color: #36D9C3;
}
.jumbotron {
	background-color: transparent;
}

.jumbotron h1, .jumbotron p, {
	font-family: 'Roboto Slab',serif;
}

#intro .container {
	max-width: 100%;
}

#intro .jumbotron h1 {
	font-size: 4em;
	font-weight: bold;
}

